<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<style type="text/css">
a {
  text-decoration: none;
  color: rgb(7, 106, 153);
}
table {
  padding: 0px;
  cell-padding: 0px;
  cell-spacing: 0px;
  border-collapse: collapse;
  border-spacing: 0;
}

table td {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1045px) {
  #shadow {
    display: none;
  }
  
}
</style>
<div style="background-color: rgb(240, 240, 240); border: 1px solid rgb(225, 225, 222); font-family: Arial, sans-serif; font-size: 16px;">
  <table border="0" cellspacing="0" style="margin: 45px auto;">
    <tr>
      <td style="padding: 0;">
        <table border="0" cellspacing="0" style="padding: 0; font-size: 13px; color: rgb(245, 245, 245); width: 650px; border: 1px solid rgb(225, 225, 222);">
          <tr>
            <td style="background: rgb(245, 245, 245); padding: 0; border-bottom: 5px solid rgb(48, 52, 58)">
              <!-- Header -->
              <div style="padding: 30px 35px 10px 35px; text-align: center;">
                <a href="http://www.checkmybackdoor.com" style="text-decoration: none;"><img alt="backdoor logo" src="http://checkmybackdoor.s3.amazonaws.com/images/black_door_transparent_small.png" style="margin: 0px 0px 20px 0px;" /></a>
              </div>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px 40px 35px 40px; background: rgb(255, 255, 255);">

              <h1 style="color: black">Hi <%= @user.name %>,</h1>

              <h3 style="color: black">Welcome to Backdoor, the best place to give and receive anonymous feedback. All comments and votes are completely anonymous so you can tell the world your true feelings about your best/worst boss.</h3>


              <p style="margin: 20px auto; width: 455px; height: 100px; background-color: rgb(245, 245, 245); font-family: Arial, sans-serif; font-size: 16px;">    
                
                  <a href="#" target="_blank" style="position: inherit; display: block; width: 291px; height: 64px; margin: 0px auto"><img alt="button" src="http://rewarder-production-assets.s3.amazonaws.com/email/New%20Rewards/email_button.png"></a>
                  

              </p>



              <h3 style="color: black"><3<br>the backdoor team</h3>




                      

            </td>
          </tr>

          <tr>
            <!-- Footer -->
            <td style="background-color: rgb(224, 107, 70); padding: 5px 10px;">
              <table border="0" cellspacing="0" style="width: 100%;">
                <tr>
                  <td style="padding: 40px; width: 100px; margin: 0px auto; font-size: 30px; text-align: center; color: rgb(255, 255, 255)">
                    <strong>backdoor, inc</strong>
                    
                  </td>

                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</div>

  </body>
</html>