<%= form_for [@commentable, @comment] do |f| %>
<% if @comment.errors.any? %>
<div class="error_messages">
	<h2>Please correct the following errors.</h2>
	<ul>
		<% @comment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="comment">
	<div id="comment-body">
		<%= f.text_area :content, placeholder: "Click here to type a comment about this article. It's anonymous so be nice.", class: "write-post", :autocomplete => :off, :rows => 4 %>
	</div>
</div>
<%= f.submit 'Save Comment', :class => 'post-button', :id => 'comment-button' %>
<% end %>

