  <div class="row" style="margin-top:-22px">
  	<div class="span6">
  		<div class="well" style="text-align:center; border-radius: 0px; border-top:2px solid black">
  			<h1 style="font-family: lato; padding: 20px;">  			
  			<div class="dropdown" style="margin: 0px auto 20px auto; display:inline-block">
  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
  					<span style="font-size:32px">Popular  </span>
  					<span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Popular</a></li>
  					<li role="presentation" class="divider"></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Animals</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Art</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Comedy</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Dating</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Education</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Family</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Food</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Music & Dance</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">News</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Politics</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Science & Tech</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sex</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sports</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Style</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Travel</a></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Other</a></li>
  					<!-- <li role="presentation" class="divider"></li>
  					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Surprise Me</a></li> -->
  				</ul>
  			</div> stories of <%= Date.today.to_formatted_s(:long_ordinal) %><br></h1>
  		</div>
  	</div>
  </div>

<!--   <span style="text-align: center">
<h2 style="font-weight:bold">Unmute</h2>
  <h3 style="font-style:italic">What needs to be said</h3>
  <h1 style="font-family: lato; padding: 20px">Top stories of <%= Date.today.to_formatted_s(:long_ordinal) %></h1>
</span> -->

<%= render 'post' %>

<div class="write-post">
	<form action="/posts/new">
		<input class="new-post-button" type="submit" value="Start writing">
	</form>
	<!-- <button class="new-post-button">Start writing</button> -->
</div>
