<span style="text-align: center">
<h2 style="font-weight:bolder">Unmute</h2>
<h3 style="font-style:italic">What needs to be said</h3>
</span>

<%= render 'post' %>
<%= link_to 'New Post', new_post_path %>