.more-in {
	width: 100%;
	padding: 10px;
	border:none;
	text-align: center;
	margin: 10px auto;
	border-radius: 100px;
	background-color:rgba(255, 88, 103, 1.0);
	font-family: "lato";
	font-size: 40px;
	color: white;
}

.more-in:hover {
	background-color:rgba(255, 88, 103, 0.8);
}

.tweet {
	background-color:rgba(94, 170, 222, 1.0);
}
.tweet:hover {
	background-color:rgba(94, 170, 222, 0.8);
}