// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.write-post {
	border:none;
	width: 800px;
	margin:0 auto;
}
#header {
	font: 30px 'lato';
	font-weight: bold;
	padding: 10px;
}
#body {
	font: 22px 'lato';
	padding: 10px 10px 10px 7px;
}

.post-button {
	width: 150px;
    background-color:black;
    border:1px solid white;
    border-radius: 3px;
    color: white;
    padding: 10px 5px 10px 5px;
    font-size:20px;
    font-family: "lato";
    display: inline-block;
    -webkit-transition: .15s ease;
    -moz-transition: .25s ease;
    -ms-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
}
.post-button:hover {
    width: 150px;
    background-color:white;
    border:1px solid black;
    border-radius: 3px;
    color: black;
    padding: 10px 5px 10px 5px;
    font-size:20px;
    font-family: "lato";
}
.switch {
    font-family: "lato";
    color: #6f839a;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.5em;
    border-radius: 3px;
    padding: .125em .5em;
    display: inline-block;
    background-color: #3e4956;
    font-size: 18px;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -ms-transition: .15s ease;
    -o-transition: .15s ease;
    transition: .15s ease;
}

input[type="radio"]:checked + .switch {
    color: #fff;
    padding-left: 1em;
    padding-right: 1em;
}

input[type="radio"]:checked + .switch--on {
    background-color: rgba(39, 174, 96, 0.7);
}

input[type="radio"]:checked + .switch--off {
    background-color: rgba(221, 74, 56, 0.7);
}
.category-selector {
    display: inline-block;
    font-family: "lato";
    width: 100%;
    border: none;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 1.0);
    border-radius: 3px;
    height: 35px;
    outline: none;
    margin-left: 25px;
    margin-top:-4px;
}

#post-table {
    width:900px;
    margin: 0 auto;
}

#post-table img{
    width:160px;
    height:130px;
    margin: 10px 0px 10px 0px;
}

#table-title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 24px;
    font-family: "lato";
}
#table-body {
    padding-left: 10px;
    font-size: 16px;
    font-family: "lato";   
    font-style:italic;
}
#table-actions {
   padding-left: 10px;
   padding-bottom: 10px;
   font-size: 16px;
   font-family: "lato";   
   font-style:italic;   
}