<!--   <div class="row">
  	<div class="span6 offset3">
  		<div class="well">
  			<div class="footer">
  				<div class="socialIcons">
  					<div class="socialIcons" onClick="window.open('http://www.twitter.com/unmuteapp', '_blank')"><img src="https://s3-us-west-2.amazonaws.com/jewelkick/social+icons/twitter-64.png" /></div>

  					<div class="socialIcons" onClick="window.open('http://www.twitter.com/unmuteapp', '_blank')"><img src="https://s3-us-west-2.amazonaws.com/jewelkick/social+icons/facebook-64.png" /></div>

  					<div class="socialIcons" onClick="window.open('http://www.twitter.com/unmuteapp', '_blank')"><img src="https://s3-us-west-2.amazonaws.com/jewelkick/social+icons/instagram-64.png" /></div>

  					<div class="socialIcons" onClick="window.open('http://www.twitter.com/unmuteapp', '_blank')"><img src="https://s3-us-west-2.amazonaws.com/jewelkick/social+icons/pinterest-64.png" /></div>
  				</div>

  				<div id="footer-menu">
  					<a href="#">about</a> | <a href="#">terms</a> | <a href="#">privacy</a> | <a href="#">contact us</a>
  				</div>

  				<div id="copyright-footer">Copyright © 2014 Rockwood Industries LLC</div>


  			</div>
  		</div>
  	</div>
  </div>
 -->